*{
	font-family: 'Raleway', cursive;
	font-weight: 100px;
    color: #2527FF;
}
.container {
    background: #01c4e7;
    padding: 20px 5px;
}
.caja {
    height: 80px;
    background: #2ef8a0;
    width: 80px;
    transition-property: left, background;
    transition-duration: 3s, 1s;
    transition-delay: 1s;
    margin: 30px;
    position: relative;
    left: 0;
}
.container:hover > .caja {
    left: 80%;
    background: #f82d97;
}
.caja:first-child {
    transition-timing-function: linear;
}
.caja:nth-child(2) {
    transition-timing-function: ease;
}
.caja:nth-child(3) {
    transition-timing-function: ease-in;
}
.caja:nth-child(4) {
    transition-timing-function: ease-out;
}
.caja:nth-child(5) {
    transition-timing-function: ease-in-out;
}
.caja:nth-child(6) {
    transition-timing-function: linear;
}